<nav class="navbar navbar-dark bg-dark mt-3">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/TShopeeProduct/Index">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/TShopeeBuyer/Index">Buyer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/TShopeeOrder/Index">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/TShopeeCarrier/Index">Carrier</a>
        </li>
    </ul>
</nav>
